#titulo{ 
    float: left;
    width: 100%; /*largo*/
    margin-top: 5%;/*posicion*/
    color: #002eff;
    font-size: 250%;
}

#top {
    padding:0!important;
    position: relative;
    background: url(../img/img_top.jpg) no-repeat;
    background-size: cover;height: 300px;background-position: bottom;
}

#bottom {
    margin: 0 auto!important;
    background-color: #f7f7f9;
    height: 5%;
    width: 100%;
    position: relative;
    clear: both
}

#admin {
    margin-top: 1%;
    float: left;
    background: url(../img/img_rigth.jpg) no-repeat;
    background-size: cover;height: 300px;background-position: bottom;
    padding: 1%;
    width: 15%;
    height: 500px;
}

#root {
    margin: 0 auto;
    margin-top: 1%;
    float: right;
    background: url(../img/img_rigth.jpg) no-repeat;
    background-size: cover;height: 300px;background-position: bottom;
    padding: 1%;
    width: 15%;
    height: 500px;
}


.center_content {
    position: relative;
    padding: 5px;
}

.left_content {
    padding: 5px;
    margin-left: 313px;
}

.right_content {
    background-color: #dddddd;
    padding: 5px;
    margin: 0px 170px 0px 170px;
}

#top a:link, #top a:visited {
    color: white;
    font-weight : bold;
    text-decoration: none;
}

#top a:link:hover, #top a:visited:hover  {
    color: black;
    font-weight : bold;
    text-decoration : underline;
}

.ui-menu {
    font-size: 16px;
    border-radius: 0px;
}

.bg_red {

    background :red;
}

.carrucel{
    margin: 0 auto; 
    margin-top: 2%;
    width: 60%; 
    height: 420px;
    border: 1em solid transparent;
    background: linear-gradient(white,white), url(../img/img_fondo_carrucel.jpg);
    background-clip: padding-box, border-box;
    background-size: cover;
    background-origin: border-box;
}

.image{
    width: 100%;
    height: 84%;
}

.borde{
    border: 3px blue dashed;
}