body {
    margin:0 auto!important;
    background: url(../img/img_body.jpg) no-repeat;
    background-size: 100% 100%; 
    background-attachment: fixed;
}

a:link, a:visited {
    color: #045491;
    font-weight : bold;
    text-decoration: none;
}

a:link:hover, a:visited:hover  {
    color: #045491;
    font-weight : bold;
    text-decoration : underline;
}
